@media screen and (max-width: 1599px) {
  .map .map-today-section .bottom, .map .tomorrow .bottom {left: 14%;}
  .map .map-today-section .bottom .right ul, .map .tomorrow .bottom .right ul {padding-left: 0;}
  .map .map-today-section .bottom .right ul li, .map .tomorrow .bottom .right ul li {padding-right: 0px;width: 192px;}
  .map .map-today-section .bottom .right, .map .tomorrow .bottom .right {width: 760px;}
}
@media screen and (max-width: 1499px) {
  .header-menu-layer2 .main-menu nav ul li { margin-left: 25px; }
  .header-menu-layer2 .main-menu { margin-left:0px; }
  .main-menu-right-section,.header.header-contact .main-menu-right-section{padding:10px;}
  .main-menu nav ul li a{font-size: 14px;}
  .main-menu nav ul li { margin-left: 30px; }

  .features ul.left-info li, .features ul.right-info li {width: 320px;}
  .features ul.left-info li:nth-child(2) {transform: translateX(-75px);}
  .features ul.left-info li {transform: translateX(-50px);}
}/*max-width:1499px*/

@media screen and (max-width: 1440px) {
  .ml-30 {margin-left: 0px;}
  .map .map-today-section .bottom, .map .tomorrow .bottom {left: 1%;}
  .map .map-today-section .bottom .left p, .map .tomorrow .bottom .left p {font-size: 18px;}
  .map .map-today-section .bottom .left, .map .tomorrow .bottom .left {padding: 24px 0px 24px 30px;margin-right: 70px;}
  /* .map .map-today-section .bottom .right, .map .tomorrow .bottom .right { width: 700px;} */
} /*max-width:1440px*/

@media screen and (min-width: 1200px){
  .menu-btn { display: none !important;}
}/*min-width:1200px*/

@media screen and (max-width: 1199px) {

  /* header */
  .header {position: relative;}
  .main-menu {margin-left: 20px;}
  .logo { margin-left: 0px;padding: 0;}
  .main-menu {display: block;}

  /* header */
  .header-left {padding: 0 15px;}
  .main-menu.offcanvas-menu {position: fixed; left: -120%;top: 0; width: 50%; height: 100%; overflow-y: scroll;background: #fff;z-index: 3; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);transition: 0.5s;}
  .main-menu.offcanvas-menu.smart-menu-active { top: 0;left: 0;margin: 0;transition: 0.7s;padding: 28px 0;}
  .main-menu-right-section { display: block;height: auto;}
  .main-menu nav ul li {display: block;padding-left: 15px; margin: 0 0 30px;}
  .header-left .logo a, .header-left .logo a:hover {font-size: 28px;}
  .menu-btn {margin: 0;position: relative;top:13px;}
  .header-menu {height: auto;padding: 35px 0 0px;}

  .welcome-banner-img {position: relative; padding-bottom: 0;height: 280px;z-index: 0;right: 0;}
  .welcome-banner-txt {padding: 30px 0 0;text-align: center;margin: 0 auto;}
  .welcome-banner-txt h2 {font-size: 34px; padding-top: 0;max-width: 435px;margin: 0 auto;line-height: 44px;margin-bottom: 10px;}

  .features ul.left-info li { transform: translateX(0px); }
  .features ul.left-info li, .features ul.right-info li {margin: 16px 0px; width: 220px; }
  .features ul.right-info li { transform: translateX(0px); }
  .features-img {text-align: center;margin: 6px 0 0; }
  .features ul.left-info li:nth-child(2) {transform: translateX(0px);}

  /* features */
  .features {padding: 60px 0px 50px; }
  .features img {margin: 20px 0px;content: url('../images/vendiagram.svg');max-width: 550px;}
  .features-content {margin: 25px 0 0; }
  ul.features-list {max-width:528px; margin: 0 auto;}
  .features ul.left-info li, .features ul.right-info li {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    transform: translateX(0px);
    text-align: left;
    margin: 10px 0px;
    position: relative;
    padding-left: 30px;
  }
  .features ul.left-info li::before, .features ul.right-info li::before {
    content: '1';
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    background: #F7B0C4 0% 0% no-repeat padding-box;
    box-shadow: 1px 6px 6px #EFAABE59;
    -webkit-box-shadow: 1px 6px 6px #EFAABE59;
    -moz-box-shadow: 1px 6px 6px #EFAABE59;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0;
  }
  .features ul.left-info li:nth-child(2)::before {content: '2';}
  .features ul.left-info li:nth-child(3)::before {content: '3';}
  .features ul.right-info li::before {
    background: #7DC3A6 0% 0% no-repeat padding-box;
    box-shadow: 1px 6px 6px #7DC3A659;
    -webkit-box-shadow: 1px 6px 6px #7DC3A659;
    -moz-box-shadow: 1px 6px 6px #7DC3A659;
  }
  .features ul.right-info li:nth-child(1)::before {content: '4';}
  .features ul.right-info li:nth-child(2)::before {content: '5';}
  .features ul.right-info li:nth-child(3)::before {content: '5';}

  .customer-busisness-content {margin: 40px 0 0;}
  .customer-busisness {padding: 60px 0 30px; }
  .single-customer-busisness-card { padding: 20px 16px;height: 274px;overflow: hidden;}
  .single-customer-busisness-img {margin-bottom: 18px; }
  .single-customer-busisness-card-txt h2 {font-size: 18px;margin-bottom: 3px;}
  .single-customer-busisness-card-txt p { font-size: 12px;line-height: 1.5;}

  .process .process-layout .single-process-layout {height: auto; }

  .map .tomorrow .buttons .btn:nth-child(1) {top: 19%; }
  .map .tomorrow .buttons .btn:nth-child(3) {top: 29%;}

  /* .map */
   .map .buttons .btn {
    height: 30px;
    width: 250px;
    font-size: 10px;
    padding-left: 40px;
  }
  .map .map-today-section .buttons .btn::before, .map .tomorrow .buttons .btn::before {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 10px;
  }

  .map .map-today-section .bottom, .map .tomorrow .bottom {left: 0%;}

  .map .map-today-section .bottom, .map .tomorrow .bottom {position: relative;margin-bottom: 80px;}

  .map .map-today-section  .bottom, .map .tomorrow  .bottom {
    bottom: -93%;
    flex-direction: column;
    background: #ffffff;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .map .map-today-section  .bottom .left, .map .tomorrow  .bottom .left {
    border: 0px;
    display: block;
  }
  .map .map-today-section  .bottom .right, .map .tomorrow  .bottom .right {
    max-width: 360px;
    padding: 25px 35px 35px 35px;
    /* flex-direction: row; */
    box-shadow: 0px 3px 20px #7dc4a62e;
    -webkit-box-shadow: 0px 3px 20px #7dc4a62e;
    -moz-box-shadow: 0px 3px 20px #7dc4a62e;
    margin-top: 25px;
    height: auto;
  }
  .map .map-today-section  .bottom .right::before, .map .tomorrow  .bottom .right:before {
    top: -14%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: #eb3131;
    content: url('../images/responsive/close-w.svg');
    width: 50px;
    height: 50px;
  }
  .map .tomorrow  .bottom .right:before {
    background: #7dc3a6;
    content: url('../images/responsive/right-w.svg');
  }
  .map .map-today-section  .bottom .right ul, .map .tomorrow  .bottom .right ul {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: start;
  }
  .map .map-today-section  .bottom .right ul li, .map .tomorrow  .bottom .right ul li {
    color: #313d38;
    font-weight: 600;
    padding: 0px;
    width: 85% !important;
    text-align: left;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 20px;
  }
  .map .map-today-section .buttons .btn:nth-child(2) {top: 45%;right: 10%; }
  .map .map-today-section .buttons .btn:nth-child(1) {top: 19%;}
  .map .map-today-section .buttons .btn:nth-child(4) {top: 30%;}

  .footer {padding: 60px 0 100px;}
  .footer-logo {margin-bottom: 20px;}
  .footer-app-download {margin: 28px 0 42px;}
  .single-footer-widget h3 {margin-bottom: 24px;}

} /*max-width:1199px*/

@media screen and (max-width: 1024px) {} /*max-width:1024px*/

@media screen and (min-width: 992px) {} /*max-width:992px*/

@media screen and (max-width: 991px) {
  .p0{
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .section-title { max-width: 360px;margin: 0 auto;}
  .section-title p {margin: 7px 0 0;}

  /* .header-menu */
  /* .header-menu {padding: 0 15px; } */

  /* .process */
  .process {padding: 60px 0;}
  .process .process-layout {margin-top: 40px;}
  .process .process-img {display: none;}
  .single-process-layout h5 { margin: 16px 0px 12px;}
  .process .process-layout .single-process-layout {
    position: relative;
    height: auto;
    padding: 15px 50px;
    border: 0px;
    box-shadow: none;
    text-align: left !important;
    align-items: flex-start !important;
    transform: translateX(0px) !important;
    background: transparent;
  }
  .process .process-layout .row {
    margin-bottom: 20px;
  }
  .process .process-layout .single-process-layout::before {
    content: url('../images/responsive/chevron-right.svg');
    text-align: center;
    line-height: 20px;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background: #7DC3A6 0% 0% no-repeat padding-box;
    box-shadow: 1px 6px 6px #7DC3A659;
    -webkit-box-shadow: 1px 6px 6px #7DC3A659;
    -moz-box-shadow: 1px 6px 6px #7DC3A659;
    left: 10px;
    z-index: 99999 !important;
  }
  .process .process-layout .row::before {
    content: '';
    display: block;
    height: 80%;
    width: 1px;
    background: #E8E8E8;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
  }
  .single-process-layout p {padding: 0;}
  .single-process-layout ul.single-process-brand-list { padding: 0; }

  .map .map-today-section .buttons .btn:nth-child(1) {top: 15%;}
  .map .map-today-section .buttons .btn:nth-child(4) {top: 28%;}

  .map .tomorrow .buttons .btn:nth-child(3) {top: 26%;}
  .map .tomorrow .buttons .btn:nth-child(2) {top: 9%;left: 30%; }
  .map .tomorrow .buttons .btn:nth-child(1) { top: 17%;}

  
  /* .footer */
  .footer-info-text {margin-bottom: 30px;}

} /*max-width:991px*/

@media screen and (max-width: 767px) {
  .section-title h2 {font-size: 24px;}

  .map .map-today-section .buttons .btn:nth-child(2) {top: 35%;}
  .map .map-today-section .buttons .btn:nth-child(3) {right: 8%;}
  .map .map-today-section .buttons .btn:nth-child(1) {top: 12%;}
  .map .map-today-section .buttons .btn:nth-child(4) {top: 25%;left: 15%; }

  .map .map-today-section .bottom .left p, .map .tomorrow .bottom .left p {font-size: 18px; line-height: 27px;}

  /* html,body{overflow-x: hidden!important;} */

} /*max-width:767px*/

@media screen and (max-width: 640px) {

  .map .map-today-section .buttons .btn {
    padding-left: 25px;
    width: 225px;
    height: auto;
  }
  .map .map-today-section .buttons .btn::before, .map .tomorrow .buttons .btn::before {
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 8px;
    left: 5px;
  }

  .map .map-today-section .buttons .btn:nth-child(2) {top: 35%;}
  .map .map-today-section .buttons .btn:nth-child(3) {right: 1%;}
  .map .map-today-section .buttons .btn:nth-child(1) {top: 12%;left: 10%;}
  .map .map-today-section .buttons .btn:nth-child(4) {top: 25%;left: 15%; }

} /*max-width:767px*/

@media screen and (max-width: 575px) {
  .menu-btn {top: 8px;}

  .features img {max-width: 320px;}
  /* #process */
  .process .process-layout .row::before {
    height: 78%;
  }

  .map .tomorrow .buttons .btn:nth-child(3) {top: 17%;}
  .map .tomorrow .buttons .btn:nth-child(2) {top: 2%;left: 30%; }
  .map .tomorrow .buttons .btn:nth-child(1) { top: 9%;}

  .map .map-today-section .bottom, .map .tomorrow .bottom {left: -2%;}
} /*max-width:575px*/

@media screen and (max-width: 540px) {
  /* #process */
  .process .process-layout .row::before { height: 77%;}

  .map .map-today-section .buttons .btn:nth-child(2) {top: 34%;right:6%;}
  .map .map-today-section .buttons .btn:nth-child(3) {right: 1%;top:6%}
  .map .map-today-section .buttons .btn:nth-child(1) {top: 9%;left: 6%;}
  .map .map-today-section .buttons .btn:nth-child(4) {top: 25%;left: 15%; }
} /*max-width:540px*/

@media screen and (max-width: 499px) {
  .map .map-today-section .buttons .btn:nth-child(4) {top: 18%;left: 15%; }
  .map .map-today-section .buttons .btn:nth-child(2) {top: 27%;}
  .map .map-today-section .buttons .btn:nth-child(3) {top:2%}
} /*max-width:480px*/

@media screen and (min-width: 440px) {
  .menu-sidebar-cross{ display: none!important }
}

@media screen and (max-width: 440px) {
  .main-menu.offcanvas-menu { width: 80%; }
  .menu-sidebar-cross {
    position: absolute;
    font-size: 28px;
    cursor: pointer;
    padding: 8px 10px;
    top: 0;
    right: 15px;
  }
  .main-menu.offcanvas-menu.smart-menu-active {padding: 80px 0;}
  a.register-btn {width: 280px;padding-left: 20px;}

  .map .map-today-section .buttons .btn:nth-child(3) {right: 13%;top: 6%;}
  .map .map-today-section .buttons .btn:nth-child(1) { top: 11%;left: 0%;}
  .map .map-today-section .buttons .btn:nth-child(2) {right: 13%;}

  .map .map-today-section .buttons .btn:nth-child(3) {top: 3%;}

  .welcome-banner-img {max-width: 350px;margin: 0 auto;}

} /*max-width:440px*/

@media screen and (max-width: 399px) {
  .app-download-area img { margin-bottom: 30px; }
} /*max-width:399px*/

@media screen and (max-width: 350px) {
  .welcome-banner-txt h2 {font-size: 23px;}
} /*max-width:350px*/

@media screen and (max-width: 320px) {} /*max-width:320px*/