@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?54tuje');
  src:  url('../fonts/icomoon.eot?54tuje#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?54tuje') format('truetype'),
    url('../fonts/icomoon.woff?54tuje') format('woff'),
    url('../fonts/icomoon.svg?54tuje#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon {
  font-size: 36px;
  color: #818181
}

.icon-approve .path1:before {
  content: "\e900";
  color: rgb(125, 196, 166);
}
.icon-approve .path2:before {
  content: "\e901";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-approve .path3:before {
  content: "\e902";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-approve .path4:before {
  content: "\e903";
  margin-left: -1.0341796875em;
  color: rgb(255, 255, 255);
}
.icon-approved:before {
  content: "\e904";
  color: #7dc4a6;
}
.icon-beauty-treatment:before {
  content: "\e905";
}
.icon-branding:before {
  content: "\e906";
  color: #818181;
}
.icon-customer:before {
  content: "\e907";
  color: #7dc4a6;
}
.icon-develop:before {
  content: "\e908";
  color: #818181;
}
.icon-facebook:before {
  content: "\e909";
  color: #fff;
}
.icon-instagram:before {
  content: "\e90a";
  color: #fff;
}
.icon-online-order:before {
  content: "\e90b";
  color: #7dc4a6;
}
.icon-retail:before {
  content: "\e90c";
  color: #818181;
}
.icon-right-arrow:before {
  content: "\e90d";
  color: #ddd;
}
.icon-right-arrow-color:before {
  content: "\e90e";
  color: #7dc4a6;
}
.icon-salon:before {
  content: "\e90f";
  color: #818181;
}
.icon-shipping:before {
  content: "\e910";
  color: #7dc4a6;
}
.icon-shop:before {
  content: "\e911";
  color: #818181;
}
.icon-shout:before {
  content: "\e912";
  color: #7dc4a6;
}
.icon-smile-face:before {
  content: "\e913";
  color: #7dc4a6;
}
.icon-submit .path1:before {
  content: "\e914";
  color: rgb(125, 196, 166);
}
.icon-submit .path2:before {
  content: "\e915";
  margin-left: -1.0341796875em;
  color: rgb(255, 255, 255);
}
.icon-submit .path3:before {
  content: "\e916";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path4:before {
  content: "\e917";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path5:before {
  content: "\e918";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path6:before {
  content: "\e919";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path7:before {
  content: "\e91a";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path8:before {
  content: "\e91b";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path9:before {
  content: "\e91c";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path10:before {
  content: "\e91d";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit .path11:before {
  content: "\e91e";
  margin-left: -1.0341796875em;
  color: rgb(125, 196, 166);
}
.icon-submit-o:before {
  content: "\e91f";
  color: #7dc4a6;
}
.icon-technology:before {
  content: "\e920";
  color: #7dc4a6;
}
.icon-twitter:before {
  content: "\e921";
  color: #fff;
}
.icon-website:before {
  content: "\e922";
  color: #7dc4a6;
}
.icon-world-map .path1:before {
  content: "\e923";
  color: rgb(247, 248, 250);
}
.icon-world-map .path2:before {
  content: "\e924";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path3:before {
  content: "\e925";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path4:before {
  content: "\e926";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path5:before {
  content: "\e927";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path6:before {
  content: "\e928";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path7:before {
  content: "\e929";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path8:before {
  content: "\e92a";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path9:before {
  content: "\e92b";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path10:before {
  content: "\e92c";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path11:before {
  content: "\e92d";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path12:before {
  content: "\e92e";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path13:before {
  content: "\e92f";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path14:before {
  content: "\e930";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path15:before {
  content: "\e931";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path16:before {
  content: "\e932";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path17:before {
  content: "\e933";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path18:before {
  content: "\e934";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path19:before {
  content: "\e935";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path20:before {
  content: "\e936";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path21:before {
  content: "\e937";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path22:before {
  content: "\e938";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path23:before {
  content: "\e939";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path24:before {
  content: "\e93a";
  margin-left: -1.9658203125em;
  color: rgb(247, 248, 250);
}
.icon-world-map .path25:before {
  content: "\e93b";
  margin-left: -1.9658203125em;
  color: rgb(125, 196, 166);
}
.icon-world-map .path26:before {
  content: "\e93c";
  margin-left: -1.9658203125em;
  color: rgb(125, 196, 166);
}
.icon-world-map .path27:before {
  content: "\e93d";
  margin-left: -1.9658203125em;
  color: rgb(125, 196, 166);
}
.icon-world-map .path28:before {
  content: "\e93e";
  margin-left: -1.9658203125em;
  color: rgb(125, 196, 166);
}
.icon-world-map .path29:before {
  content: "\e93f";
  margin-left: -1.9658203125em;
  color: rgb(125, 196, 166);
}
