@media screen and (max-width: 767px) {
  .single-box-item,
  .box-item-search-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
} /*max-width:767px*/

@media screen and (max-width: 399px) {
  .single-box-item,
  .box-item-search-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
} /*max-width: 399px*/
